Fina.Web/bin/Debug/net8.0/wwwroot/_framework/dotnet.js
Fina.Web/bin/Debug/net8.0/wwwroot/_framework/dotnet.native.8.0.6.k1z3ykpilw.js
Fina.Web/bin/Debug/net8.0/wwwroot/_framework/dotnet.runtime.8.0.6.45kd4zogd5.js
Fina.Web/wwwroot/css/bootstrap/bootstrap.min.css
Fina.Web/bin/Debug/net8.0/dotnet.runtime.js
Fina.Web/bin/Debug/net8.0/dotnet.native.js
Fina.Web/bin/Debug/net8.0/dotnet.js
